# env variables 
.env

# Venv
.venv
# snapshots of all github repos in the dataset 
datasets

# Designite Python (Windows, Linux)
DPy.exe  
DPy

# agent implementation
agent_workspace
agent_test_storage
agent_workspace copy
agent_workspace_*

# temp files
.claude
.pytest_cache

# pycache 
__pycache__

nexttube/data 
node_modules

temp_metrics

agent_report.json