# env variables 
.env

# Venv
.venv
# snapshots of all github repos in the dataset 
snapshots 
scb-problems
scb-problems-sols-tests

# Designite Python (Windows, Linux)
DPy.exe  
DPy

# agent implementation
agent_workspace
agent_workspace copy
agent_workspace_*

# temp files
.claude
.pytest_cache

# pycache 
__pycache__

temp_metrics